





.fl-node-6jb78ysldeqp.fl-row-fixed-width, .fl-node-6jb78ysldeqp .fl-row-fixed-width {
	max-width: 1370px;
}
 .fl-node-6jb78ysldeqp > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}






 .fl-node-qaf4r9e6xs0n > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}




.fl-node-hvbpr74dfn8e {
	width: 100%;
}




.fl-node-q2bufhg64kw9 {
	width: 66%;
}
 .fl-node-q2bufhg64kw9 > .fl-col-content {
	margin-top:0px;
}




.fl-node-sqml7ob8fjx0 {
	width: 34%;
}
 .fl-node-sqml7ob8fjx0 > .fl-col-content {
	margin-left:30px;
}




.fl-node-vrlon5t8hsg7 {
	width: 100%;
}
 .fl-node-7xc0t5bwzeou > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-un2sew79yog0 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-4x6s2vgac7w0 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-1giph50wuxfy > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-qeo0zpnbtx1w > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

