





.fl-node-5f2bf5ca6cbcb.fl-row-fixed-width, .fl-node-5f2bf5ca6cbcb .fl-row-fixed-width {
	max-width: 1302px;
}
 .fl-node-5f2bf5ca6cbcb > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}






.fl-node-5f2bf8388c152.fl-row-fixed-width, .fl-node-5f2bf8388c152 .fl-row-fixed-width {
	max-width: 1260px;
}
 .fl-node-5f2bf8388c152 > .fl-row-content-wrap {
	padding-top:0px;
	padding-right:0px;
	padding-bottom:0px;
	padding-left:0px;
}










.fl-node-5f2bf788a107d {
	width: 100%;
}




.fl-node-5f2bf5ca6fca1 {
	width: 68.84%;
}




.fl-node-5f2bf5ca6fca7 {
	width: 31.16%;
}




.fl-node-5f2bf838926bf {
	width: 33.33%;
}




.fl-node-5f2bf838926c7 {
	width: 33.33%;
}




.fl-node-5f2bf838926c9 {
	width: 33.33%;
}




.fl-node-5f2c218409d3d {
	width: 100%;
}




.fl-node-5f2c223a8a584 {
	width: 100%;
}
 .fl-node-5f2bf6b244679 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
 .fl-node-5f2bf788a0f9a > .fl-module-content {
	margin-top:30px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
@media (max-width: 768px) { .fl-node-5f2bf788a0f9a > .fl-module-content { margin-top:20px; } } .fl-node-5f2bf6f8e8a17 > .fl-module-content {
	margin-top:20px;
	margin-right:0px;
	margin-left:20px;
}
 .fl-node-5f2bf83e688f0 > .fl-module-content {
	margin-left:0px;
}
 .fl-node-5f2bf86638ae1 > .fl-module-content {
	margin-right:0px;
}
 .fl-node-5f2c218409bc0 > .fl-module-content {
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}

/* Start Global Nodes CSS */

/* End Global Nodes CSS */

